* {
  margin: 0;
  padding: 0;
}

/* Nav */
#logo {
  max-height: 120px; /* ubah ukuran logo sesuai kebutuhan */
  height: auto;
  width: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 70px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

nav ul li {
  list-style: none;
  font-size: 25px;
}

/* Section1 */
.section1 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(206, 206, 206);
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url(/webjomek/images/background.jpg);
  background-size: cover;
  background-position: center;
  padding: 10%;
  box-sizing: border-box;
}

.section1 h2 {
  color: white;
  font-size: 100px;
  font-weight: bold;
}

.section1 h4 {
  color: white;
  font-size: 50px;
  font-weight: lighter;
}

/* Section2 */
.section2 {
  display: flex;
  flex-direction: column;
  height: 50vh;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}

.section2 h2 {
  color: rgb(63, 63, 63);
  font-size: 40px;
  font-weight: bolder;
}

/* Section3 */
.section3 {
  display: flex;
  flex-direction: column;
  height: 50vh;
  background-color: rgb(206, 206, 206);
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}

.section3 p {
  text-align: center;
  font-size: 30px;
  color: rgb(77, 77, 77);
}

/* Section4 */

.section4 {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  padding: 5% 10%;
  background-color: rgb(65, 65, 65);
  background-image: url(/webjomek/images/indoor1.jpg);
  background-position: center;
  background-size: cover;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.container1 h2 {
  font-size: 50px;
  color: white;
  font-weight: bold;
}

.container2 p {
  justify-self: center;
  font-size: 25px;
  color: white;
  font-weight: lighter;
}

/* Section5 */

.section5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(206, 206, 206);
  box-sizing: border-box;
  height: 100vh;
}

.sec5-text {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 100%;
}

.sec5-text h2 {
  font-size: 60px;
  margin: 10% 10%;
}

.sec-container {
  display: flex;
  justify-content: space-around;
  height: 70%;
  width: 100%;
}

.item1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item1 img {
  height: 250px;
  width: auto;
}

.item2 img {
  height: 250px;
  width: auto;
}

.item3 img {
  height: 250px;
  width: auto;
}

.sec-container p {
  font-size: 25px;
}

ul {
  margin-left: 20px;
  padding-left: 20px;
}

/* Section6 */

.section6 ul li {
  margin-bottom: 20px;
}

.img1 {
  height: 200px;
}

.img2 {
  height: 200px;
}

.section6 {
  display: flex;
  height: 100vh;
  justify-content: space-around;
}

.sec6-container1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sec6-container1 p {
  text-align: center;
  font-size: 30px;
}

.sec6-container1 h1 {
  font-size: 60px;
}

.sec6-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec6-container2 p {
  font-size: 25px;
}

.section6 ul li.visi {
  margin-bottom: 50px;
}

.section6 ul li.misi {
  margin-bottom: 50px;
}

/* Section 7 */

.section7 {
  box-sizing: border-box;
  background-image: url(/webjomek/images/background2.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20%;
  padding: 5%;
}

.section7 p {
  font-size: 25px;
  color: white;
}

.section7 h1 {
  font-size: 60px;
  color: white;
}
